Dash-nodeRed.json
[
    {
        "id": "1052ecf9e53a9100",
        "type": "tab",
        "label": "Teste",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebdc96feb575a2f1",
        "type": "mqtt in",
        "z": "1052ecf9e53a9100",
        "name": "",
        "topic": "TOPICO_PUBLISH_TEMPERATURA",
        "qos": "2",
        "datatype": "auto",
        "broker": "45ea54924b14c8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "b0e08835b8afc2e6",
                "8f157134f118fe60",
                "3b2ba0b7e8bfbf1e",
                "2242cfc91b07cb39",
                "62c1dc4514d2ca82"
            ]
        ]
    },
    {
        "id": "eec9d2cfb675779f",
        "type": "mqtt in",
        "z": "1052ecf9e53a9100",
        "name": "",
        "topic": "TOPICO_PUBLISH_UMIDADE",
        "qos": "2",
        "datatype": "auto",
        "broker": "45ea54924b14c8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "69f5c824a4830602",
                "1fc37d11ad1e9dd3",
                "33c89bc76ea91a1f",
                "49a07451572db182",
                "0d618808391e3707"
            ]
        ]
    },
    {
        "id": "b0e08835b8afc2e6",
        "type": "ui_gauge",
        "z": "1052ecf9e53a9100",
        "name": "",
        "group": "154ece453073c58b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura atual",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "69f5c824a4830602",
        "type": "ui_gauge",
        "z": "1052ecf9e53a9100",
        "name": "Umidade atual",
        "group": "66ef2daa2c7f628a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade atual",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "3b2ba0b7e8bfbf1e",
        "type": "ui_chart",
        "z": "1052ecf9e53a9100",
        "name": "Temperatura",
        "group": "154ece453073c58b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Gráfico de Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "33c89bc76ea91a1f",
        "type": "ui_chart",
        "z": "1052ecf9e53a9100",
        "name": "Umid",
        "group": "66ef2daa2c7f628a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Gráfico Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8f157134f118fe60",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "",
        "func": "msg.payload = Number(msg.payload);\nvar led;\nif (msg.payload <= 25){\n    led = 0;\n}\nif(msg.payload >= 26){\n    led = 1;\n}\nmsg = { \n    payload:led\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [
            [
                "96b46b2094b5a030",
                "f17e61aebdc70255"
            ]
        ]
    },
    {
        "id": "2242cfc91b07cb39",
        "type": "debug",
        "z": "1052ecf9e53a9100",
        "name": "Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "1fc37d11ad1e9dd3",
        "type": "debug",
        "z": "1052ecf9e53a9100",
        "name": "Umidade",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "96b46b2094b5a030",
        "type": "ui_led",
        "z": "1052ecf9e53a9100",
        "order": 1,
        "group": "a123ed9a6f1fd7f0",
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "f17e61aebdc70255",
        "type": "mqtt out",
        "z": "1052ecf9e53a9100",
        "name": "",
        "topic": "ESP/TEMP",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "45ea54924b14c8ce",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "49a07451572db182",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "",
        "func": "msg.payload = Number(msg.payload);\nvar led;\nif (msg.payload <= 40){\n    led = 1;\n}\nif(msg.payload >= 41){\n    led = 0;\n}\nmsg = { \n    payload:led\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "41b2b49229b624fd",
                "c9cb7bea5f89bb7f"
            ]
        ]
    },
    {
        "id": "41b2b49229b624fd",
        "type": "ui_led",
        "z": "1052ecf9e53a9100",
        "order": 1,
        "group": "67e8a0fc6b055267",
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "c9cb7bea5f89bb7f",
        "type": "mqtt out",
        "z": "1052ecf9e53a9100",
        "name": "",
        "topic": "ESP/UMID",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "45ea54924b14c8ce",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "62c1dc4514d2ca82",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "global_temperatura",
        "func": "global.set(\"temperatura\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "0d618808391e3707",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "global_humidade",
        "func": "global.set(\"humidade\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d300a05b48f4e389",
        "type": "debug",
        "z": "1052ecf9e53a9100",
        "name": "resultado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "a8a3b7fa789b81d8",
        "type": "inject",
        "z": "1052ecf9e53a9100",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "e4d92b3ffbd86d29"
            ]
        ]
    },
    {
        "id": "e4d92b3ffbd86d29",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "INSERT",
        "func": " \nvar temperatura = global.get(\"temperatura\");\nvar humidade = global.get(\"humidade\");\n\nmsg.topic = \"INSERT INTO Tabelas (temperature,humidity) VALUES (\"+temperatura+\",\"+humidade+\" );\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "358bd8423dd7a007"
            ]
        ]
    },
    {
        "id": "358bd8423dd7a007",
        "type": "mysql",
        "z": "1052ecf9e53a9100",
        "mydb": "a5e315defcaf8cf8",
        "name": "conexao_mysql",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "d300a05b48f4e389"
            ]
        ]
    },
    {
        "id": "936f0bb66a9698a2",
        "type": "inject",
        "z": "1052ecf9e53a9100",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "77177072ce2f2c78"
            ]
        ]
    },
    {
        "id": "77177072ce2f2c78",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT temperature as temperatura, humidity as humidade, timeStamp as timeStamp FROM Tabelas where timeStamp >= now() - 84600;\"\nreturn msg;\n\n//msg.topic = \"SELECT * FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"SELECT temperature as temperatura, humidity as humidade, timeStamp FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"INSERT INTO tempLog (temperature,humidity) VALUES (\"+temperatura+\",\"+humidade+\" );\"\n\n//SELECT MAX(\"producaocatanduva\") as producao, time FROM \"Solar_IFSP\"  WHERE time >= now() - 30d GROUP BY time(1d)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "b44ae48c76c6eff4"
            ]
        ]
    },
    {
        "id": "b47171db9c288564",
        "type": "change",
        "z": "1052ecf9e53a9100",
        "name": "Format data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t$series := [\t    { \"label\": \"temperatura (°C)\" , \"field\": \"temperatura\"  },\t    { \"label\": \"humidade (%)\", \"field\": \"humidade\" }\t\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 580,
        "wires": [
            [
                "1fa8b4f6b96f3413",
                "a5303c9979090638"
            ]
        ]
    },
    {
        "id": "1fa8b4f6b96f3413",
        "type": "ui_chart",
        "z": "1052ecf9e53a9100",
        "name": "24 hours data",
        "group": "766015e1569f50cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Gráfico temperatura e umidade",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00e68c",
            "#2d2da8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a5303c9979090638",
        "type": "debug",
        "z": "1052ecf9e53a9100",
        "name": "dados mysql",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "b44ae48c76c6eff4",
        "type": "mysql",
        "z": "1052ecf9e53a9100",
        "mydb": "a5e315defcaf8cf8",
        "name": "conexao_mysql",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "b47171db9c288564"
            ]
        ]
    },
    {
        "id": "c091198fd13bae53",
        "type": "inject",
        "z": "1052ecf9e53a9100",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "1d0c2d95be8d4e80"
            ]
        ]
    },
    {
        "id": "1d0c2d95be8d4e80",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "SELECT",
        "func": "\nmsg.topic = \"SELECT * FROM Tabelas order by timeStamp DESC limit 10;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "6da3800118baa797"
            ]
        ]
    },
    {
        "id": "1f3c713f85eb8adc",
        "type": "ui_template",
        "z": "1052ecf9e53a9100",
        "group": "766015e1569f50cb",
        "name": "Tabela com style",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>temperatura</span>\n  <span flex>humidade</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.temperature}} °C</span>\n  <span flex style=\"color: black\">{{row.humidity}}%</span>\n\n</",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6da3800118baa797",
        "type": "mysql",
        "z": "1052ecf9e53a9100",
        "mydb": "a5e315defcaf8cf8",
        "name": "conexao_mysql",
        "x": 500,
        "y": 660,
        "wires": [
            [
                "1f3c713f85eb8adc"
            ]
        ]
    },
    {
        "id": "345ba3c686261c28",
        "type": "function",
        "z": "1052ecf9e53a9100",
        "name": "DELET",
        "func": "\nmsg.topic = \"Delete  FROM Tabelas ;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "2a7bc41cdb24351a"
            ]
        ]
    },
    {
        "id": "78bd118e6117dca5",
        "type": "debug",
        "z": "1052ecf9e53a9100",
        "name": "dados mysql",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 740,
        "wires": []
    },
    {
        "id": "8dd4f98e512aebd4",
        "type": "inject",
        "z": "1052ecf9e53a9100",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "345ba3c686261c28"
            ]
        ]
    },
    {
        "id": "2a7bc41cdb24351a",
        "type": "mysql",
        "z": "1052ecf9e53a9100",
        "mydb": "a5e315defcaf8cf8",
        "name": "conexao_mysql",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "78bd118e6117dca5"
            ]
        ]
    },
    {
        "id": "45ea54924b14c8ce",
        "type": "mqtt-broker",
        "name": "lucascunhaifsp.duckdns.org",
        "broker": "lucascunhaifsp.duckdns.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "154ece453073c58b",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "d4480fa6d0ab6d1f",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "66ef2daa2c7f628a",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "d4480fa6d0ab6d1f",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a123ed9a6f1fd7f0",
        "type": "ui_group",
        "name": "LIGA/DESLIGA VENTILADOR",
        "tab": "d4480fa6d0ab6d1f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "67e8a0fc6b055267",
        "type": "ui_group",
        "name": "LIGA/DESLIGA UMIDIFICADOR",
        "tab": "d4480fa6d0ab6d1f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5e315defcaf8cf8",
        "type": "MySQLdatabase",
        "name": "",
        "host": "database-1.cz408lajoees.us-east-1.rds.amazonaws.com",
        "port": "3306",
        "db": "sensor",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "766015e1569f50cb",
        "type": "ui_group",
        "name": "Gráfico Temperatura e Umidade",
        "tab": "d4480fa6d0ab6d1f",
        "order": 5,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4480fa6d0ab6d1f",
        "type": "ui_tab",
        "name": "ProjetoIFSP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]